.navbar-inverse {
    background-color: #f4bfc7;
    border-color: blueviolet;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #f4bfc7;
     padding-top: 50px;
    padding-bottom: 20px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Courselayout*/
.course{
    list-style: none;
    align-items: center;
}

.course > li{
    position: relative;
    margin-bottom: 30px;
}

.course > li .date{
    text-align: center;
    background-color: cyan;
    color: darkviolet;
    width: 60px;
    border-radius: 8px;
}

.course > li .details{
    position: absolute;
    top: 0;
    left: 70px;
}

